* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
  border: 0;
  font-family: "Titan One", cursive;
}

form {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 2px 10px 10px grey;
  margin-bottom: 5rem;
}
input,
select {
  border: 1px solid black;
  padding: 0.6rem;
  border-radius: 1rem;
  font-size: 1rem;
}
button {
  background-color: violet;
  padding: 1rem;
  border-radius: 1rem;
}
